// ## color ##
@background: #f9f9f9;

// ## gray ##
@gray_0: #f9f9f9; // 밝은 background
@gray_1: #eaeaea; // 밝은 background
@gray_2: #cdcdcd;
@gray_3: #bcbcbc; // 상대적으로 중요하지 않은 부수적 요소, 비활성 상태 텍스트
@gray_4: #9c9c9c;
@gray_5: #6d6d6d;
@gray_6: #444444; // 서브 타이틀 혹은 본문 텍스트
@gray_7: #353535; // title 같이 강조 텍스트, shadow
@gray_8: #262626; // 어두운 background
@gray_9: #151515; // 어두운 background

// ## media queries ##
@ms-xs: ~"only screen and (max-width: 577px)";

// ## transition ##
@transition: all 0.3s ease;
@background-transition: background 0.3s ease;

// ## ETC
@shadow: 0 20px 20px rgba(0, 0, 0, 0.08);